@charset "utf-8";

html,body,h1,h2,h3,h4,h5,h6,p,div,ul,ol,li,input{
  margin: 0;
  padding: 0;
}

*,*:before,*:after{
  box-sizing: inherit;
}
html{
  box-sizing: -webkit-border-box;
  box-sizing: border-box;
}

ul,li{
  list-style-type: none;
}
html,body,#game-container,.game-wrapper{
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
}
#loading{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff url(../img/loading.gif) no-repeat center center;
  background-size: 50px auto;
  z-index: 100;
}
.game-wrapper{
  max-width: 640px;
  background: url(../g-bg.png) no-repeat;
  background-size: 100% auto;
  margin: 0 auto;
  position: relative;
}
img{
  width: 100%;
}
.hide{
  opacity: 0;
}
.none{
  display: none;
}
#game-form,
#game-play{
  padding: 10px 0 80px;
  text-align: center;
  background: rgba(255,255,255,0.7);
  border: 3px solid #4db8b4;
  border-radius: 20px;
}
#game-form,
#game-result,
#game-play{
  position: absolute;
  width: 82%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
#game-result.out,
#game-play.out{
  -webkit-transform: translate3d(-50%, -300%, 0);
  transform: translate3d(-50%, -300%, 0);
}
.game-desc{
  width: 75.5%;
}
#game-start{
  position: absolute;
  width: 67%;
  right: -25px;
  bottom: -25px;
}
#game-start img{
  width: 100%;
}
.game-gun{
  width: 90px;
  height: 144px;
  position: absolute;
  right: 0;
  bottom: 0;
  background: url(../g-qiang-0.png) no-repeat;
  background-size: 90px 144px;
}
.game-fire{
  width: 75px;
  height: 76px;
  position: absolute;
  left: -51px;
  top: -62px;
  opacity: 0;
}
.fire .game-fire{
  display: block;
  opacity: 1;
}
#game-timer,
.game-score{
  font: bold 18px "Arial";
  text-shadow: 1px 1px 5px rgba(255,255,255,0.6);
  position: absolute;
  top: 10%;
  left: 50%;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  text-transform: uppercase;
  -webkit-transform: translateX(-50%);  
  transform: translateX(-50%);
  pointer-events: none;
}
#game-timer{
  top: 5%;
}
.game-score span{
  font-size: 20px;
  letter-spacing: 1px;
}
#game-items{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
li.game-1{
  background: url(../g-p1.png) no-repeat;
  right: 80%;
}
li.game-2{
  background: url(../g-p2.png) no-repeat;
  right: -10%;
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
}
li.game-3{
  background: url(../g-p3.png) no-repeat;
  right: 40%;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
li.game-4{
  background: url(../g-p4.png) no-repeat;
  right: 20%;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.game-items li{
  position: absolute;
  width: 105px;
  height: 406px;
  background-size: cover;
  top: 0;
  -webkit-transform: scale(0.2) translateY(-100%);
  transform: scale(0.2) translateY(-100%);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
li.game-4{
  width: 140px;
}
.game-explode{
  width: 43%;
  position: absolute;
  display: none;
}
.shot .game-explode{
  display: block;
}
.game-1 img{
  left: 40%;
  bottom: 30%;
}
.game-2 img{
  left: 25%;
  bottom: 35%;
}
.game-3 img{
  left: 20%;
  bottom: 40%;
}
.game-4 img{
  left: 30%;
  bottom: 25%;
}
.zoomin-level1,
.zoomin-level2,
.zoomin-level3,
.zoomin-level4{
  -webkit-animation-name: zoomin;
  animation-name: zoomin;
}
.zoomin-level1{
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
}
.zoomin-level2{
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.zoomin-level3{
  -webkit-animation-duration: 0.9s;
  animation-duration: 0.9s;
}
.zoomin-level4{
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
}

@-webkit-keyframes zoomin{
  65%{
    -webkit-transform: scale(1) translateY(0);
    opacity: 1;
  }
  100%{
    -webkit-transform: scale(1) translateY(-20%);
    opacity: 0;
  }
}
@keyframes zoomin{
  65%{
    -webkit-transform: scale(1) translateY(0);
    opacity: 1;
  }
  100%{
    -webkit-transform: scale(1) translateY(-20%);
    opacity: 0;
  }
}
#game-link{
  position: absolute;
  left: 54%;
  top: 52%;
  width: 37.5%;
}
#game-replay{
  position: absolute;
  width: 60%;
  top: 61%;
  left: 40%;
}
.game-result-score{
  position: absolute;
  top: 13%;
  left: 50%;
  font: 18px Arial;
}
.game-result-gift{
  position: absolute;
  left: 50%;
  top: 20%;
  font-size: 18px;
}
#result-gift{
  font: 18px Arial;
}
#game-form{
  line-height: 2;
  padding-bottom: 0;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
#game-form.out{
  -webkit-transform: translate3d(-50%, 150%, 0);
  transform: translate3d(-50%, 150%, 0);
}
#game-form img{
  display: block;
}
#game-form h2{
  font-size: 12px;
  line-height: 1.2;
}
#game-form input{
  padding: 5px 6px;
  border: 1px solid #787878;
  font-size: 14px;
}
#game-form button{
  border: 0 none;
  background: none;
  width: 41%;
  padding: 0;
  margin: 5px 0;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}
.game-code,
.game-logo,
.game-share{
  width: 61.5%;
  margin: 5px auto;
}
.game-share a{
  display: inline-block;
  width: 30%;
}
.game-share img{
  border-radius: 99999px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}
.game-code{
  width: 29%;
}
.game-logo{
  position: absolute;
  left: 50%;
  bottom: -18%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
